header {
  background-color: $color-primario;
  color: $color-blanco;
  padding: 20px;
  text-align: center;

  nav {
    margin-top: 10px;

    a {
      color: $color-blanco;
      margin: 0 12px;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        color: $color-secundario;
      }
    }
  }
}

.contenedor {
  width: 80%;
  margin: auto;
  padding: 30px;
}

footer {
  background-color: $color-primario;
  color: $color-blanco;
  text-align: center;
  padding: 15px;
}
